@import "~taro-ui/dist/style/components/flex.scss";
@import "../../../public/css/mixin";
@import "../../../public/css/base";

.drug {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // border: 1px solid #ccc;
  margin: 0 auto;
  // background-color: #ccc;
}

.drug-normal {
  width: 600px;
}

.drug-small {
  width: 320px;
}

.drug-image {
  margin: 20px 0;
}

.drug-image-normal {
  width: 400px;
  height: 400px;
}

.drug-image-small {
  width: 200px;
  height: 200px;
}

.drug-info {
  // text-align: center;
}

// .drug-name {
  
// }

.drug-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ellipsis {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.drug-desc-price {
  color: red;
}

.drug-desc-num {
  color: green;
}

